:root {
    --buttonColor: #0079FF;
    --mainBackground: #F6F8FF;
    --contentBackground: #FEFEFE;
    --titleColor: #2B3442;
    --textColor: #4B6A9B;
    --modeColor: #697C9A;
    --hover: #222731;
    --buttonHover: #60ABFF;
  }