:root {
    --buttonColor: #0079FF;
    --mainBackground: #141D2F;
    --contentBackground: #1E2A47;
    --titleColor: #FFFFFF;
    --textColor: #FFFFFF;
    --modeColor: #FFFFFF;
    --hover: #90A4D4;
    --buttonHover: #60ABFF;
  }