.main {
    box-sizing: border-box;
    background-color: var(--contentBackground);
    padding: 0.5vw 1vw;
    border-radius: 15px;
    color: var(--textColor);
    display: flex;
    align-items: center;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    margin-bottom: 2vh;

}

.magnifyingGlass {
    color: var(--buttonColor);
    font-size: 25px;
    padding-left: 1vw;
    padding-right: 1vw;
}

.input {
    color: var(--textColor);
    margin-right: auto;
    padding: 15px 10px;
    width: 100%;
    border: none;
    font-family: 'Space Mono', monospace;
    font-size: 18px;
    line-height: 25px;
    caret-color: var(--buttonColor);
    background-color: transparent;
}
.input:-webkit-autofill,
.input:-webkit-autofill:hover,
.input:-webkit-autofill:focus,
.input:-webkit-autofill:active {
    background-color: transparent !important;
    -webkit-text-fill-color: var(--textColor) !important;
    transition: background-color 5000s ease-in-out 0s;
}

input:focus {
    outline: none;
}

input::placeholder {
    color: var(--textColor);;
  }

input:focus::placeholder {
    color: transparent;
  }

.noResults {
      color: #F74646;
      font-weight: bold;
      padding-left: 1vw;
      padding-right: 1vw;
      white-space: nowrap;
}

.button {
    background-color: var(--buttonColor);
    border: none;
    color: white;
    padding: 15px 22px;
    border-radius: 10px;
    font-size: 16px;
    font-weight: bold;
    font-family: 'Space Mono', monospace;
    cursor: pointer;
}

.button:hover {
    background-color: var(--buttonHover);
}