.main {
    background-color: transparent;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.title {
    margin-right: auto;
    color: var(--titleColor);
}

.mode {
    color: var(--modeColor);
    cursor: pointer;
}

.mode:hover {
    color: var(--hover);
}